{% extends 'layout.html' %}
{% block content %}
<script type="module" src="/static/js/accounts.js"></script>

<head>
    <style>
        .scrollable-orders {
            max-height: 200px;
            overflow-y: auto;
        }

        .selected-user,
        .selected-dataset,
        .selected-inst {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #447fff;
            color: white;
        }

        .selectable-user:hover,
        li:hover {
            cursor: pointer;
            background-color: #b3b3b3;
        }

        .list-group-item {
            display: block;
            padding: 10px 15px;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }

        .list-group-item.selected-user:hover,
        .list-group-item.selected-dataset:hover,
        .list-group-item.selected-inst:hover {
            cursor: pointer;
            background-color: #447fff;
            color: white;
        }

        .scrollable-table {
            max-height: 170px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .scrollable-table-inst {
            max-height: 400px;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 1rem;
            color: #212529;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .table th,
        .table td {
            padding: 8px;
            vertical-align: middle;
            border-top: 1px solid #dee2e6;
        }

        .table thead th {
            vertical-align: bottom;
            border-bottom: 2px solid #dee2e6;
            background-color: #f8f9fa;
            color: #495057;
        }

        .form-row input,
        .form-row select,
        .form-row button {
            width: 100%;
            box-sizing: border-box;
        }

        .form-row>td {
            padding: 0.5rem;
        }

        .overflow-auto {
            max-height: 170px;
            overflow-y: auto;
        }

        .form-row>.col-md-4 {
            padding-right: 15px;
            padding-left: 15px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .order-info-header {
            font-weight: bold;
            color: #343a40;
            background-color: #f8f9fa;
            border-bottom: 2px solid #dee2e6;
            padding: 10px 15px;
            cursor: default;
        }

        .orders-container {
            display: flex;
        }

        .order-list-container {
            max-height: 150px;
            overflow-y: auto;
        }

        /* Enhanced styling for the assignedDatasetsTitle */
        .assigned-datasets-title {
            font-size: 1.25rem;
            color: #495057;
            background-color: #e9ecef;
            padding: 0.75rem 1.25rem;
            border-radius: 0.25rem;
            margin-bottom: 1rem;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="row" style="margin-top: 70px;">
        <!-- View Users-->
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span><b>Active Users</b></span>
                    <select id="userInstitutionFilter" class="form-control w-auto">
                        <!--The option of instutiation will be filled in automatically-->
                    </select>
                </div>
                <div class="card-body">
                    <!-- Fixed Table Header -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" style="width: 30%;"><b>Email</b></th>
                                <th scope="col" style="width: 10%;"><b>Level</b></th>
                                <th scope="col" style="width: 10%;"><b>Logins</b></th>
                                <th scope="col" style="width: 30%;"><b>Institution</b></th>
                                <th scope="col" style="width: 30%;"><b>Last Login</b></th>
                            </tr>
                        </thead>
                    </table>
                    <!-- Scrollable Table Body -->
                    <div class="table-responsive" style="max-height: 170px; overflow-y: auto;">
                        <table class="table">
                            <tbody id="viewUsersCard">
                                <!-- User data will be dynamically filled here -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: -20px;">
                    <div class="col-lg-12">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="form-row">
                                    <!-- Email Address Input -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="email"><b>Email address</b></label>
                                            <input id="email" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <!-- Access Level Selection -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="levelSelect"><b>Access Level</b></label>
                                            <select id="levelSelect" class="form-control">
                                                <option value="admin"><b>Admin</b></option>
                                                <option value="user"><b>User</b></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Institution Selection -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="institutionSelect"><b>Institution</b></label>
                                            <select id="institutionSelect" class="form-control">
                                                <!-- All institution will be filled here dynamically -->
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Create User Button -->
                                    <div class="col-md-3 d-flex align-items-end">
                                        <div class="form-group">
                                            <button id="createUserBtn" type="submit"
                                                class="btn btn-sm btn-primary btn-icon-only">Create</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: -10px;">
                    <div class="col-md-5">
                        <div class="card border-0">
                            <div class="card-body">
                                <h6 class="card-title"><b>Dataset List</b></h6>
                                <div class="scrollable-table">
                                    <table class="table">
                                        <div id="datasetList"></div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <div class="btn-group-vertical">
                            <button id="addDatasetBtn" type="button" class="btn btn-sm btn-primary btn-icon-only">
                                <i class="bi bi-arrow-right-circle-fill"></i> Add
                            </button>
                            <button id="removeDatasetBtn" type="button" class="btn btn-sm btn-primary btn-icon-only">
                                <i class="bi bi-arrow-left-circle-fill"></i> Remove
                            </button>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card border-0">
                            <h5 id="assignedDatasetsTitle" class="card-title"></h5>
                            <div class="card-body">
                                <!-- <ul id="assignedDatasets" class="list-group"></ul> -->
                                <div class="scrollable-table">
                                    <table class="table">
                                        <div id="assignedDatasets"></div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="deleteUserBtn" type="submit" class="btn btn-danger">Delete User</button>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header"><b>Institution</b></div>
                <div class="card-body">
                    <div class="row">
                        <!-- Organization list container -->
                        <div class="col-3">
                            <div id="institutionList" class="scrollable-table-inst"></div>
                        </div>

                        <!-- Organization details container -->
                        <div class="col-9">
                            <div id="institutionDetails">
                                <form id="institutionForm">
                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="name"><b>Full Name:</b></label>
                                                <input type="text" class="form-control" name="name" id="name" value=""
                                                    readonly>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="abbr"><b>Abbr:</b></label>
                                                <input type="text" class="form-control" name="abbr" id="abbr" value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="type"><b>Type:</b></label>
                                                <select class="form-control" name="type" id="type">
                                                    <option value="Industry">Industry</option>
                                                    <option value="Academic">Academic</option>
                                                    <option value="Government">Government</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="phone"><b>Phone Number:</b></label>
                                                <input type="text" class="form-control" name="phone" id="phone"
                                                    value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="email"><b>Email:</b></label>
                                                <input type="text" class="form-control" name="email" id="email"
                                                    value="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="address"><b>Address:</b></label>
                                                <input type="text" class="form-control" name="address" id="address"
                                                    value="">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="website"><b>Website:</b></label>
                                                <input type="text" class="form-control" name="website" id="website"
                                                    value="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="status"><b>Status:</b></label>
                                                <select class="form-control" name="status" id="status">
                                                    <option value="Active">Active</option>
                                                    <option value="Inactive">Inactive</option>
                                                    <option value="Pending">Pending</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="scrollable-orders">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"><b>PO Number</b></th>
                                                        <th scope="col"><b>Order Date</b></th>
                                                        <th scope="col"><b>Action</b></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!-- Orders will be dynamically filled here -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="flex-row-container"
                                            style="display: flex; align-items: center; justify-content: space-between;">
                                            <div class="flex-item" style="flex-grow: 1; margin-right: 10px;">
                                                <input type="text" class="form-control" placeholder="Enter PO Number"
                                                    id="newPoNumber">
                                            </div>
                                            <div class="flex-item">
                                                <button id="generateAndInsertOrderBtn"
                                                    class="btn btn-sm btn-primary">Generate
                                                    Order</button>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" id="newInstitutionBtn"
                                        class="btn btn-sm btn-primary btn-icon-only" data-toggle="modal"
                                        data-target="#newInstitutionModal">New</button>
                                    <button type="submit" class="btn btn-sm btn-primary ml-2 btn-icon-only"
                                        onclick="updateInstitutionDetails()">Update</button>
                                    <button type="button" class="btn btn-sm btn-danger ml-2 btn-icon-only"
                                        onclick="deleteInstitution()"><i class="fas fa-trash"></i></button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- New Institution Modal -->
<div class="modal fade" id="newInstitutionModal" tabindex="-1" role="dialog" aria-labelledby="newInstitutionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newInstitutionModalLabel">New Institution</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="NewinstitutionForm">
                    <div class="form-group">
                        <label>Name:</label>
                        <input type="text" class="form-control" name="name" value=""
                            placeholder="Once created, cannot be modified">
                    </div>
                    <div class="form-group">
                        <label>Abbr:</label>
                        <input type="text" class="form-control" name="Abbr" value="">
                    </div>
                    <div class="form-group">
                        <label>Type:</label>
                        <select class="form-control" name="type">
                            <option value="Industry">Industry</option>
                            <option value="Academic">Academic</option>
                            <option value="Government">Government</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Address:</label>
                        <input type="text" class="form-control" name="address" value="">
                    </div>
                    <div class="form-group">
                        <label>Phone Number:</label>
                        <input type="text" class="form-control" name="phone" value="">
                    </div>
                    <div class="form-group">
                        <label>Email:</label>
                        <input type="text" class="form-control" name="Email" value="">
                    </div>
                    <div class="form-group">
                        <label>Website:</label>
                        <input type="text" class="form-control" name="website" value="">
                    </div>
                    <div class="form-group">
                        <label>Status:</label>
                        <select class="form-control" name="status">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                            <option value="Pending">Pending</option>
                        </select>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary btn-icon-only"
                        onclick="CreateInstitution(event)">Insert</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Order Details Modal -->
<div class="modal fade" id="orderDetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderDetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderDetailsModalLabel">Order Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="orderDetailsHeader">
                    <p><strong>PO Number:</strong> <span id="orderPoNumber"></span></p>
                    <p><strong>Order Date:</strong> <span id="orderDate"></span></p>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Dataset Name</th>
                        </tr>
                    </thead>
                    <tbody id="orderDetailsTableBody">
                        <!-- Order details will be dynamically filled here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function updateInstitutionDetails() {
        const form = document.getElementById('institutionForm');
        const formData = new FormData(form);
        const updatedDetails = {};
        formData.forEach((value, key) => {
            updatedDetails[key] = value;
        });
        fetch('/updateInstitution', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updatedDetails),
        })
            .then(response => response.json())
            .then(data => {
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error conditions
            });
    }

    function deleteInstitution() {
        const institutionName = document.querySelector('#institutionForm [name="name"]').value;
        let isConfirmed = confirm(`Are you sure you want to delete the institution "${institutionName}"?`);
        if (!isConfirmed) {
            return; // If the user clicked "Cancel", exit the function early
        }
        fetch('/deleteInstitution', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: institutionName }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Institution deleted successfully!');
                    window.location.reload(); // Refresh the page to update the list of institutions
                } else {
                    alert('Failed to delete institution.');
                }
            })
            .catch(error => console.error('Error:', error));
    }

    function submitInstitutionForm() {
        const form = document.getElementById('institutionForm');
        const formData = new FormData(form);
        let institutionData = {};
        formData.forEach((value, key) => {
            institutionData[key] = value;
        });
        updateInstitutionDetails();
    }

    function showOrderDetails(institutionName, poNumber) {
        console.log("showOrderDetails")
        fetch(`/getOrderDetails/${institutionName}/${poNumber}`)
            .then(response => response.json())
            .then(orderDetails => {
                // Set the PO Number and Order Date in the modal
                document.getElementById('orderPoNumber').textContent = poNumber;
                document.getElementById('orderDate').textContent = orderDetails.date;

                // Populate the order details table
                const tableBody = document.getElementById('orderDetailsTableBody');
                tableBody.innerHTML = orderDetails.datasets.map(dataset => `
                <tr>
                    <td>${dataset.name}</td>
                </tr>
            `).join('');
                // Show the modal
                $('#orderDetailsModal').modal('show');
            })
            .catch(error => console.error('Error fetching order details:', error));
    }

    function CreateInstitution() {
        const form = document.getElementById('NewinstitutionForm');
        const formData = new FormData(form);
        const updatedDetails = {};
        formData.forEach((value, key) => {
            updatedDetails[key] = value;
        });
        fetch('/insertInstitution', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updatedDetails),
        })
            .then(response => response.json())
            .then(data => {
                window.location.reload();
                $('#newInstitutionModal').modal('hide'); // Hide the modal after insertion
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error conditions
            });
    }
    function deleteOrder(institutionName, poNumber, event) {
        if (event) event.preventDefault(); // Prevent default behavior if event is passed
        if (confirm(`Are you sure you want to delete order ${poNumber} from ${institutionName}?`)) {
            fetch(`/deleteOrder/${institutionName}/${poNumber}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    alert('Order deleted successfully!');
                    currentSelectedInstitutionName = institutionName; // Save current selected institution name
                    getInstitutions().then(institutions => {
                        institutionsList = institutions;
                        renderInstitutionList(institutions);
                        if (currentSelectedInstitutionName) {
                            const items = document.querySelectorAll('#institutionList .list-group-item');
                            items.forEach(item => {
                                if (item.textContent === currentSelectedInstitutionName) {
                                    item.click();
                                }
                            });
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
        } else {
            return;
        }
    }

    function getInstitutions() {
        return fetch('/getInstitutions')
            .then(response => response.json())
            .then(institutions => {
                return institutions;
            })
            .catch(error => {
                console.error('Error:', error);
                return [];
            });
    }

    function renderInstitutionList(institutions) {
        const institutionList = document.getElementById('institutionList');
        institutionList.innerHTML = ''; // Clear existing content

        institutions.forEach((institution, index) => {
            const item = document.createElement('div');
            item.className = 'list-group-item list-group-item-action list-group';
            item.textContent = institution.name;
            item.onclick = () => {
                // Remove 'selected' class from all items
                document.querySelectorAll('#institutionList .list-group-item').forEach(el => {
                    el.classList.remove('selected-inst');
                });
                // Add 'selected' class to clicked item
                item.classList.add('selected-inst');
                showInstitutionDetails(institution);
                currentSelectedInstitutionName = institution.name;
                console.log(currentSelectedInstitutionName)
            };
            institutionList.appendChild(item);

            // Automatically select the first institution only if no current selection is stored
            if (index === 0 && !currentSelectedInstitutionName) {
                item.classList.add('selected-inst');
                showInstitutionDetails(institution);
            }
        });
    }

    function showInstitutionDetails(institution) {
        const form = document.getElementById('institutionForm');
        form.elements['name'].value = institution.name;
        form.elements['abbr'].value = institution.abbr;
        form.elements['type'].value = institution.type;
        form.elements['phone'].value = institution.phone;
        form.elements['email'].value = institution.email;
        form.elements['address'].value = institution.address;
        form.elements['website'].value = institution.website;
        form.elements['status'].value = institution.status;

        // Populate orders
        const ordersContainer = document.querySelector('.scrollable-orders tbody');
        ordersContainer.innerHTML = institution.orders.map(order => `
        <tr>
            <td>${order.PO_number}</td>
            <td>${order.date}</td>
            <td>
                <button class="btn btn-danger btn-sm" type="button" onclick="deleteOrder('${institution.name}', '${order.PO_number}', event)">
                    <i class="fas fa-trash"></i>
                </button>
                <button class="btn btn-primary btn-sm" type="button" onclick="showOrderDetails('${institution.name}', '${order.PO_number}')">
                    <i class="fas fa-search"></i>
                </button>
            </td>
        </tr>
    `).join('');
    }
</script>
{% endblock %}