{% extends 'layout.html' %}
{% block content %}

<head>
    <style>
        .selected-user,
        .selected-dataset {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: #007bff;
            /* 蓝色背景 */
            color: white;
            /* 白色文字 */
        }

        #datasetList,
        #assignedDatasets {
            max-height: 300px;
            overflow-y: auto;
        }

        .selectable-user:hover,
        li:hover {
            cursor: pointer;
            background-color: #f5f5f5;
        }

        #datasetList {
            border: 1px solid #dee2e6;
            border-radius: 5px;
            background: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            padding: 0;
            margin-top: 20px;
        }

        .list-group {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        .list-group-item {
            display: block;
            padding: 10px 15px;
            border-bottom: 1px solid #f0f0f0;
            cursor: pointer;
            transition: background-color 0.2s ease-in-out;
        }

        .list-group-item:last-child {
            border-bottom: none;
        }

        .list-group-item:hover {
            background-color: #f8f9fa;
        }

        .list-group-item.selected-user,
        .list-group-item.selected-dataset {
            background-color: #007bff;
            /* 蓝色背景 */
            color: white;
            /* 白色文字 */
            font-weight: bold;
            /* 加粗文字 */
        }

        .list-group-item.selected-user:hover,
        .list-group-item.selected-dataset:hover {
            background-color: #0056b3;
            /* 悬浮时更暗的蓝色 */
        }

        @media (max-width: 768px) {
            .list-group-item {
                padding: 8px 12px;
            }
        }

        .scrollable-table {
            max-height: 170px;
            overflow-y: auto;
            margin-bottom: 20px;
        }

        .scrollable-table table {
            width: 100%;
        }

        .table th,
        .table td {
            padding: 8px;
            vertical-align: middle;
            border-top: 1px solid #dee2e6;
        }

        .form-row input,
        .form-row select,
        .form-row button {
            width: 100%;
            box-sizing: border-box;
        }

        .form-row>td {
            padding: 0.5rem;
        }

        .overflow-auto {
            max-height: 170px;
            overflow-y: auto;
        }

        .card {
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        .card-header {
            background: #f8f9fa;
            border-bottom: 1px solid #e3e4e6;
            padding: 10px 15px;
        }

        .form-row>.col-md-4 {
            padding-right: 15px;
            padding-left: 15px;
        }

        .form-group {
            margin-bottom: 10px;
        }

        .order-info-header {
            font-weight: bold;
            color: #343a40;
            background-color: #f8f9fa;
            border-bottom: 2px solid #dee2e6;
            padding: 10px 15px;
            cursor: default;
        }

        .orders-container {
            display: flex;
        }

        .order-list-container {
            max-height: 150px;
            overflow-y: auto;
        }
    </style>
</head>
<div class="container-fluid">
    <div class="row" style="margin-top: 70px;">
        <!-- View Users-->
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <span>Active Users</span>
                    <select id="userInstitutionFilter" class="form-control w-auto">
                        <!-- 机构选项将动态填充 -->
                    </select>
                </div>

                <div class="card-body">
                    <!-- Fixed Table Header -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Email</th>
                                <th scope="col">Level</th>
                                <th scope="col">Logins</th>
                                <th scope="col">Institution</th>
                                <th scope="col">Last Login</th>
                            </tr>
                        </thead>
                    </table>
                    <!-- Scrollable Table Body -->
                    <div class="table-responsive" style="max-height: 170px; overflow-y: auto;">
                        <table class="table">
                            <tbody id="viewUsersCard">
                                <!-- User data will be dynamically filled here -->
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row" style="margin-top: -20px;">
                    <div class="col-lg-12">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="form-row">
                                    <!-- Email Address Input -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="email">Email address</label>
                                            <input id="email" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <!-- Access Level Selection -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="levelSelect">Access Level</label>
                                            <select id="levelSelect" class="form-control">
                                                <option value="admin">Admin</option>
                                                <option value="user">User</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Institution Selection -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="institutionSelect">Institution</label>
                                            <select id="institutionSelect" class="form-control">
                                                <!-- All institution will be filled here dynamically -->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button id="createUserBtn" type="submit"
                                                class="btn btn-sm btn-primary btn-icon-only">Create</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row" style="margin-top: -10px;">
                    <div class="col-md-3">
                        <div class="card border-0">
                            <div class="card-body">
                                <h5 class="card-title">Dataset List</h5>
                                <div class="scrollable-table">
                                    <table class="table">
                                        <div id="datasetList" class="table table-striped table-hover"></div>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <div class="btn-group-vertical">
                            <button id="addDatasetBtn" type="button" class="btn btn-sm btn-primary btn-icon-only"
                                onclick="addAssignedDataset(selectedUserEmail, selectedDatasetName)">
                                <i class="bi bi-arrow-right-circle-fill"></i> Add
                            </button>
                            <button id="removeDatasetBtn" type="button" class="btn btn-sm btn-primary btn-icon-only"
                                onclick="removeAssignedDataset(selectedUserEmail, selectedAssignedDatasetName)">
                                <i class="bi bi-arrow-left-circle-fill"></i> Remove
                            </button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card border-0">
                            <div class="card-body">
                                <h5 id="assignedDatasetsTitle" class="card-title">Assigned Datasets for </h5>
                                <ul id="assignedDatasets" class="list-group"></ul>
                            </div>
                        </div>
                    </div>
                </div>
                <button id="deleteUserBtn" type="submit" class="btn btn-danger">Delete User</button>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow">
                <div class="card-header">Institution</div>
                <div class="card-body">
                    <div class="row">
                        <!-- Organization list container -->
                        <div class="col-3">
                            <h5>Institution List</h5>
                            <div id="institutionList" class="table table-striped table-hover"></div>
                            <button id="newInstitutionBtn" class="btn btn-sm btn-primary btn-icon-only">New</button>
                        </div>
                        <!-- Organization details container -->
                        <div class="col-9">
                            <h5>Institution Details</h5>
                            <div id="institutionDetails"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", usersTable())
    window.addEventListener("DOMContentLoaded", renderDatasetList())
    window.addEventListener("DOMContentLoaded", function () {
        getInstitutions().then(institutions => {
            institutionsList = institutions;
            populateInstitutionSelect(institutions);
            renderInstitutionList(institutions);
            populateUserInstitutionSelect(institutions);
        });
    });
    let institutionsList = [];
    let shouldContinue = true;
    let currentSelectedInstitutionName = null;
    let selectedUserEmail;
    let selectedDatasetName;
    let selectedAssignedDatasetName;
    const assignedDatasetsTitle = document.getElementById('assignedDatasetsTitle');

    function addAssignedDataset(email, datasetName) {
        console.log(email, datasetName)
        fetch(`/addAssignedDataset/${email}/${datasetName}`, { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log(data)
                handleSelectedUser(selectedUserEmail);
                alert(data.message)
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    // Delete selected datasets from Assigned Datasets
    function removeAssignedDataset(email, datasetName) {
        fetch(`/removeUserDataset/${email}/${datasetName}`, { method: 'POST' })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                    alert(data.message)
                }
                return response.json();
            })
            .then(data => {
                handleSelectedUser(selectedUserEmail);
                alert(data.message)
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            }); 3
    }


    document.getElementById('createUserBtn').addEventListener('click', function () {
        const email = document.getElementById('email').value;
        const institution = document.getElementById('institutionSelect').value;
        const level = document.getElementById('levelSelect').value;

        if (!email.trim()) {
            alert('Please enter an email address.');  // 提示用户输入邮箱
            return;  // 终止函数执行
        }

        fetch('/createUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                email: email,
                institution: institution,
                level: level
            }),
        })
            .then(response => response.json())
            .then(data => {
                alert(data.message);  // Show alert if there is an error
                usersTable()
            })
            .catch(error => console.error('Error:', error));
    });


    document.getElementById("deleteUserBtn").addEventListener('click', () => {
        if (!selectedUserEmail || selectedUserEmail.trim() === "") {
            alert("Please select an user to delete");
            return; // This will exit the function early if no email is selected
        }
        // Confirm deletion
        let isConfirmed = confirm("You sure you want to delete it? Deletion cannot be undone.");
        if (!isConfirmed) {
            return; // If the user clicked "Cancel", exit the function early
        }
        //validate
        let email = selectedUserEmail
        //fetch
        fetch('/deleteUser', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'email': email,
            }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    //updateTable
                    usersTable()
                    selectedUserEmail = " "
                    // assignedDatasetsHead.textContent = `Assigned Datasets for ${selectedUserEmail}`;
                    handleSelectedUser(selectedUserEmail)
                } else {
                    // Display alert message
                    alert(data.message);
                }

            })
            .catch((error) => {
                console.error('Error:', error)
            })

    })

    function getUsers() {
        return fetch('/getUsers')
            .then(response => response.json())
            .then(data => {
                return data.map(user => user.email);
            })
            .catch(error => {
                console.error('Error:', error);
                return [];
            });
    }

    function handleSelectedUser(selectedUserEmail) {
        assignedDatasetsTitle.textContent = `Assigned Datasets for ${selectedUserEmail}`;
        const assignedDatasets = document.getElementById('assignedDatasets');
        // Empty the current datasets list
        assignedDatasets.innerHTML = '';
        // Show the selected user
        const selectedUserHeading = document.createElement('h5');
        assignedDatasets.appendChild(selectedUserHeading);
        // Query the datasets of selceted user
        fetch(`/getUserDatasets/${selectedUserEmail}`, {
            method: 'GET',
        })
            .then(response => response.json())
            .then(datasets => {
                const datasetList = document.createElement('ul');
                datasetList.classList.add('list-group');
                datasets.forEach(dataset => {
                    const li = document.createElement('li');
                    li.classList.add('list-group-item');
                    li.textContent = dataset;
                    // Add click event listener
                    datasetList.appendChild(li);
                });
                assignedDatasets.appendChild(datasetList);
                // Add event listener
                datasetList.addEventListener('click', (event) => {
                    const selectedLi = event.target.closest('li');
                    if (selectedLi) {
                        // Print the selected data set name on the console
                        // console.log('Selected dataset:', selectedLi.textContent);
                        selectedAssignedDatasetName = selectedLi.textContent
                        // Remove selected-dataset class from all other li elements
                        const allLiElements = document.querySelectorAll('#assignedDatasets li');
                        allLiElements.forEach((li) => {
                            if (li !== selectedLi) {
                                li.classList.remove('selected-dataset');
                            }
                        });
                        // Add selected-dataset class to selected li element
                        selectedLi.classList.add('selected-dataset');
                    }
                });
            })
            .catch((error) => {
                console.error('Error:', error);
            });
    }

    function usersTable(filterInstitution = 'all') {
        fetch('/getUsers', {
            method: 'GET',
        })
            .then(response => response.json())
            .then(data => {
                let filteredData = filterInstitution === 'all' ? data : data.filter(user => user.institution === filterInstitution);
                renderUserTable(filteredData);
            })
            .catch((error) => {
                console.error('Error:', error);
                document.getElementById("viewUsersCard").innerHTML = '<div class="alert alert-danger" role="alert">Failed to load user data.</div>';
            });
    }

    function renderUserTable(data) {
        // Initialize the table with headers
        let tableHTML = ``;

        // Populate the table with data from existing users
        data.forEach(user => {
            let date = formatDate(user.lastLogin ? user.lastLogin['$date'] : '');
            tableHTML += `<tr class="selectable-user" data-email="${user.email}">
            <td>${user.email}</td>
            <td>${user.level}</td>
            <td>${user.logins}</td>
            <td>${user.institution}</td>
            <td>${date}</td>
        </tr>`;
        });

        // Set the innerHTML of the usersCard to the new table
        const usersCard = document.getElementById("viewUsersCard");
        usersCard.innerHTML = tableHTML;

        // Add click event listeners to the user rows for selection functionality
        usersCard.querySelectorAll('.selectable-user').forEach(row => {
            row.addEventListener('click', (event) => handleTableRowClick(event));
        });
    }

    function formatDate(dateString) {
        if (!dateString) return '';
        const date = new Date(dateString);
        return date.toLocaleDateString('en-US', { year: 'numeric', month: '2-digit', day: '2-digit' });
    }

    function handleTableRowClick(event) {
        const selectedRow = event.target.closest('tr');
        console.log(selectedRow)
        if (selectedRow) {
            const rowData = {
                email: selectedRow.querySelector('td:nth-child(1)').textContent,
                level: selectedRow.querySelector('td:nth-child(2)').textContent,
                logins: selectedRow.querySelector('td:nth-child(3)').textContent,
                lastLogin: selectedRow.querySelector('td:nth-child(4)').textContent,
            };
            selectedUserEmail = rowData['email']
            // assignedDatasetsHead.textContent = `Assigned Datasets for ${selectedUserEmail}`;
            handleSelectedUser(selectedUserEmail);
            // Remove the selected-row class from all other tr elements
            const allRows = document.querySelectorAll('tr');
            allRows.forEach((row) => {
                if (row !== selectedRow) {
                    row.classList.remove('selected-user');
                }
            });
            // Add the selected-row class to the selected tr element, if it does not already have it
            if (!selectedRow.classList.contains('selected-user')) {
                selectedRow.classList.add('selected-user');
            }
        }
    }

    function getDatasets() {
        return fetch('getDatasets')
            .then(response => response.json())
            .then(datasets => {
                return datasets;
            })
            .catch(error => {
                console.error('Error:', error);
                return [];
            });
    }

    function renderDatasetList() {
        getDatasets().then(datasets => {
            const datasetList = document.getElementById('datasetList');
            datasetList.innerHTML = ''; // clear existing content
            const ul = document.createElement('ul');
            ul.classList.add('list-group');
            datasets.forEach(dataset => {
                const li = document.createElement('li');
                li.classList.add('list-group-item');
                li.dataset.name = dataset.name;
                li.textContent = dataset.name;
                ul.appendChild(li)
            });
            datasetList.appendChild(ul);
            ul.addEventListener('click', (event) => {
                const selectedLi = event.target.closest('li');
                if (selectedLi) {
                    selectedDatasetName = selectedLi.dataset.name;
                    // Remove the selected-dataset class from all other li elements
                    const allLiElements = document.querySelectorAll('#datasetList li');
                    allLiElements.forEach((li) => {
                        if (li !== selectedLi) {
                            li.classList.remove('selected-dataset');
                        }
                    });
                    // Add the selected-dataset class to the selected li element
                    selectedLi.classList.add('selected-dataset');
                }
            });

        });
    }

    function populateInstitutionSelect(institutions) {
        const select = document.getElementById('institutionSelect');
        select.innerHTML = ''; // Clear all Options

        institutions.forEach(institution => {
            const option = document.createElement('option');
            option.value = institution.name;
            option.textContent = institution.name;
            select.appendChild(option);
        });
    }

    // Get the list of institutions and populate the dropdown when the page loads


    function populateUserInstitutionSelect(institutions) {
        const select = document.getElementById('userInstitutionFilter');
        select.innerHTML = '<option value="all">All Institutions</option>'; // 允许用户选择所有机构

        institutions.forEach(institution => {
            const option = document.createElement('option');
            option.value = institution.name;
            option.textContent = institution.name;
            select.appendChild(option);
        });
    }

    // 当页面加载时，调用此函数
    document.getElementById('userInstitutionFilter').addEventListener('change', function () {
        const selectedInstitution = this.value;
        usersTable(selectedInstitution); // 传入选定的机构
    });

    function getInstitutions() {
        return fetch('/getInstitutions')
            .then(response => response.json())
            .then(institutions => {
                return institutions;
            })
            .catch(error => {
                console.error('Error:', error);
                return [];
            });
    }

    function renderInstitutionList(institutions) {
        const institutionList = document.getElementById('institutionList');
        institutionList.innerHTML = ''; // Clear existing content

        institutions.forEach((institution, index) => {
            const item = document.createElement('div');
            item.className = 'list-group-item list-group-item-action list-group';
            item.textContent = institution.name;
            item.onclick = () => {
                // Remove 'selected' class from all items
                document.querySelectorAll('#institutionList .list-group-item').forEach(el => {
                    el.classList.remove('selected');
                });
                // Add 'selected' class to clicked item
                item.classList.add('selected');
                showInstitutionDetails(institution);
            };
            institutionList.appendChild(item);

            // Automatically select the first institution only if no current selection is stored
            if (index === 0 && !currentSelectedInstitutionName) {
                item.classList.add('selected');
                showInstitutionDetails(institution);
            }
        });
    }


    function showInstitutionDetails(institution) {
        // console.log(institution)
        const institutionDetails = document.getElementById('institutionDetails');

        // Assume the type and status options
        const typeOptions = ['Industry', 'Academic', 'Government', 'Others'];
        const statusOptions = ['Active', 'Inactive', 'Pending'];

        // Create drop down options
        const typeSelectHTML = typeOptions.map(option => `<option value="${option}" ${institution.type === option ? 'selected' : ''}>${option}</option>`).join('');
        const statusSelectHTML = statusOptions.map(option => `<option value="${option}" ${institution.status === option ? 'selected' : ''}>${option}</option>`).join('');

        // Generate showing PO-Number order list with two columns
        const ordersHeader = `
    <div class="list-group-item header">
        <div class="order-info-header">
            <span class="po-number-header">PO Number</span>
            <span class="order-date-header">Order Date</span>
        </div>
    </div>
`;

        const ordersHTML = `
<div class="order-list-container">
    ${institution.orders.map(order => `
        <div class="list-group-item list-group-item-action" onclick="showOrderDetails('${institution.name}', '${order.PO_number}')">
            <div class="order-info">
                <span class="po-number">${order.PO_number}</span>
                <span class="order-date">${order.date}</span>
                <button class="btn btn-danger btn-sm" onclick="deleteOrder('${institution.name}', '${order.PO_number}')">Delete</button>
            </div>
        </div>
    `).join('')}
</div>`;

        // Combine header and list items
        const ordersListHTML = ordersHeader + ordersHTML;

        // Set the details HTML
        institutionDetails.innerHTML = `
        <form id="institutionForm">
            <div class="form-row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Full Name:</label>
                        <input type="text" class="form-control" name="name" id="name" value="${institution.name}" readonly>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="abbr">Abbr:</label>
                        <input type="text" class="form-control" name="abbr" id="abbr" value="${institution.abbr}">
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="type">Type:</label>
                        <select class="form-control" name="type" id="type"> ${typeSelectHTML} </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phone">Phone Number:</label>
                        <input type="text" class="form-control" name="phone" id="phone" value="${institution.phone}">
                    </div>
                </div>

                
            </div>

    <div class="form-row">
        <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" name="email" id="email" value="${institution.email}">
                    </div>
                </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" name="address" id="address" value="${institution.address}">
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="website">Website:</label>
                <input type="text" class="form-control" name="website" id="website" value="${institution.website}">
            </div>
        </div>
        <div class="col-md-6">
        <div class="flex-item title">Status:</div>
                <select class="form-control" name="status">
                    ${statusSelectHTML}
                </select>
            </div>
    </div>


            <div class="form-group">
                <div class="flex-item title">Orders:</div>
                <div class="orders-container">
                    <div class="orders list-group">
                        ${ordersListHTML}
                    </div>
                    <div id="orderDetails" class="order-details"></div>
                </div>
            </div>

            <div class="form-group">
                <div class="flex-row-container" style="display: flex; align-items: center; justify-content: space-between;">
                    <div class="flex-item" style="flex-grow: 1; margin-right: 10px;"><input type="text" class="form-control" placeholder="Enter PO Number" id="newPoNumber"></div>
                    <div class="flex-item"><button class="btn btn-sm btn-primary" onclick="generateAndInsertOrder('${institution.name}')">Generate Order</button></div>
                </div>
            </div>

            
            <button type="submit" class="btn btn-sm btn-primary ml-2 btn-icon-only">Update</button>
            <button type="button" class="btn btn-sm btn-danger ml-2 btn-icon-only" onclick="deleteInstitution()"><i class="fas fa-trash"></i></button>
        </form>
    `;

        // Add form submit event listener
        document.getElementById('institutionForm').addEventListener('submit', function (e) {
            e.preventDefault();
            updateInstitutionDetails(); // Implement this function to handle form submission
        });
    }

    function CreateInstitution() {
        const form = document.getElementById('NewinstitutionForm');
        console.log(form)
        const formData = new FormData(form);
        const updatedDetails = {};
        formData.forEach((value, key) => {
            updatedDetails[key] = value;
        });
        fetch('/insertInstitution', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updatedDetails),
        })
            .then(response => response.json())
            .then(data => {
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error conditions
            });
    }

    function updateInstitutionDetails() {
        const form = document.getElementById('institutionForm');
        const formData = new FormData(form);
        const updatedDetails = {};
        formData.forEach((value, key) => {
            updatedDetails[key] = value;
        });
        fetch('/updateInstitution', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(updatedDetails),
        })
            .then(response => response.json())
            .then(data => {
                window.location.reload();
            })
            .catch((error) => {
                console.error('Error:', error);
                // Handle error conditions
            });
    }

    document.getElementById('newInstitutionBtn').addEventListener('click', function () {
        const institutionDetails = document.getElementById('institutionDetails');
        const typeOptions = ['Industry', 'Academic', 'Government', 'Others'];
        const statusOptions = ['Active', 'Inactive', 'Pending'];
        const statusSelectHTML = statusOptions.map(option => `<option value="${option}">${option}</option>`).join('');
        const typeSelectHTML = typeOptions.map(option => `<option value="${option}"}>${option}</option>`).join('');

        // Clear the details area and provide a blank form
        institutionDetails.innerHTML = `
        <form id="NewinstitutionForm">
            <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" name="name" value="" placeholder="Once created, cannot be modified">
            </div>

            <div class="form-group">
                <label>Abbr:</label>
                <input type="text" class="form-control" name="Abbr" value="">
            </div>

            <div class="form-group">
                <label>Type:</label>
                <select class="form-control" name="type">
                    ${typeSelectHTML}
                </select>
            </div>

            <div class="form-group">
                <label>Address:</label>
                <input type="text" class="form-control" name="address" value="">
            </div>

            <div class="form-group">
                <label>Phone Number:</label>
                <input type="text" class="form-control" name="phone" value="">
            </div>

            <div class="form-group">
                <label>Email:</label>
                <input type="text" class="form-control" name="Email" value="">
            </div>

            <div class="form-group">
                <label>Website:</label>
                <input type="text" class="form-control" name="website" value="">
            </div>
            <div class="form-group">
                <label>Status:</label>
                <select class="form-control" name="status">
                    ${statusSelectHTML}
                </select>
            </div>
            <button type="button" id="CreateInsititution"class="btn btn-sm btn-primary btn-icon-only" onclick="CreateInstitution()">Insert</button>
        </form>
    `;
    });

    function deleteInstitution() {
        const institutionName = document.querySelector('#institutionForm [name="name"]').value;
        if (confirm(`Are you sure you want to delete the institution "${institutionName}"?`)) {
            fetch('/deleteInstitution', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ name: institutionName }),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'success') {
                        alert('Institution deleted successfully!');
                        window.location.reload(); // Refresh the page to update the list of institutions
                    } else {
                        alert('Failed to delete institution.');
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    }

    // Modify the submitInstitutionForm function to distinguish between update and new creation
    function submitInstitutionForm() {
        const form = document.getElementById('institutionForm');
        const formData = new FormData(form);
        let institutionData = {};
        formData.forEach((value, key) => {
            institutionData[key] = value;
        });

        updateInstitutionDetails();
    }


    function showOrderDetails(institutionName, poNumber) {
        fetch(`/getOrderDetails/${institutionName}/${poNumber}`)
            .then(response => response.json())
            .then(orderDetails => {
                // Create tables and headers
                const tableHTML = `
            <table class="table">
                <tbody>
                    ${orderDetails.datasets.map(dataset => `
                        <tr>
                            <td>${dataset.name}</td>
                        </tr>
                    `).join('')}
                </tbody>
            </table>
        `;

                // Update the page to show order details in a tabular form
                document.getElementById('orderDetails').innerHTML = tableHTML;
            })
            .catch(error => console.error('Error fetching order details:', error));
    }



    function generateAndInsertOrder(institutionName) {
        if (!document.getElementById('newPoNumber').value.length) {
            alert("Please enter a valid Po Number.");
            return; // Early return to stop the function execution
        }

        const today = new Date().toISOString().slice(0, 10); // Get current date
        const newOrder = {
            PO_number: document.getElementById('newPoNumber').value,
            date: today,
            datasets: [] // Assume that the new order does not have a data set
        };

        // Send a request to the backend to insert a new order
        fetch('/insertOrder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ institutionName, newOrder }),
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Order generated and inserted successfully!');
                    currentSelectedInstitutionName = institutionName; // Save current selected institution name
                    getInstitutions().then(institutions => {
                        institutionsList = institutions;
                        renderInstitutionList(institutions);
                        // Restore the selected institution
                        if (currentSelectedInstitutionName) {
                            const items = document.querySelectorAll('#institutionList .list-group-item');
                            items.forEach(item => {
                                if (item.textContent === currentSelectedInstitutionName) {
                                    item.click();
                                }
                            });
                        }
                    });
                } else {
                    alert('Failed to generate and insert order.');
                }
            })
            .catch(error => console.error('Error:', error));
    }


    function populatePoNumberSelect(institutionName, currentPoNumber) {
        const poNumberSelect = document.getElementById('poNumberSelect');
        poNumberSelect.innerHTML = ''; // Clear existing options
        // Get order information from backend
        fetch(`/getOrdersByInstitution/${institutionName}`)
            .then(response => response.json())
            .then(orders => {
                orders.forEach(order => {
                    const option = document.createElement('option');
                    option.value = order.PO_number;
                    option.textContent = order.PO_number;
                    poNumberSelect.appendChild(option);
                });
                poNumberSelect.value = currentPoNumber;
            })
            .catch(error => console.error('Error:', error));
    }

    function deleteWavelength(type, exposure, wavelength) {
        fetch('/delete-wavelength', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            // Include datasetName in the request body
            body: JSON.stringify({
                datasetName: selectedDatasetName, // Using the global variable selectedDatasetName
                type,
                exposure,
                wavelength
            })
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                // 更新数据视图的逻辑可以放在这里
                // 可能不想立即重载整个页面，而是更新显示的数据集列表
                // window.location.reload(); // 为了提供更好的用户体验，考虑不使用此行
                // updateDatasetDetails(selectedDatasetName); // 假设这是更新数据集详细信息的函数
            })
            .catch((error) => {
                console.error('Error:', error);
            });

        console.log(`Request sent to delete wavelength: ${wavelength} from type: ${type}, exposure: ${exposure}, for dataset: ${selectedDatasetName}`);
    }

    function updateOrderList(institutionName) {
        fetch(`/getOrdersByInstitution/${institutionName}`)
            .then(response => response.json())
            .then(orders => {
                const ordersContainer = document.querySelector('.orders-container'); // Change this selector to match your HTML
                ordersContainer.innerHTML = ''; // Clear existing orders

                // Assuming orders are displayed in a list
                orders.forEach(order => {
                    const orderElement = document.createElement('div');
                    // orderElement.className = 'list-group-item list-group-item-action';
                    orderElement.textContent = `PO Number: ${order.PO_number}, Date: ${order.date}`;
                    ordersContainer.appendChild(orderElement);
                });
            })
            .catch(error => console.error('Error updating orders:', error));
    }

    function deleteOrder(institutionName, poNumber) {
        console.log(institutionName, poNumber)
        if (confirm(`Are you sure you want to delete order ${poNumber} from ${institutionName}?`)) {
            // 实现与后端的API交互，删除订单
            fetch(`/deleteOrder/${institutionName}/${poNumber}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    alert('Order deleted successfully!');
                    currentSelectedInstitutionName = institutionName; // Save current selected institution name
                    getInstitutions().then(institutions => {
                        institutionsList = institutions;
                        renderInstitutionList(institutions);
                        // Restore the selected institution
                        if (currentSelectedInstitutionName) {
                            const items = document.querySelectorAll('#institutionList .list-group-item');
                            items.forEach(item => {
                                if (item.textContent === currentSelectedInstitutionName) {
                                    item.click();
                                }
                            });
                        }
                    });
                })
                .catch(error => console.error('Error:', error));
        }
    }


</script>
{% endblock %}