azure-storage-file-share==12.12.0
azure-storage-blob==12.16.0
cffi==1.14.0
click==7.1.1
Flask>=1.1.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-WTF==0.14.3
Flask-Mail==0.9.1
Cython
imagecodecs==2020.5.30
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
Pillow==7.1.2
pycparser==2.20
pymongo==4.3.3
scikit-image==0.17.2
six==1.14.0
Werkzeug==1.0.1
WTForms==2.2.1